@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{padding: 0; margin: 0;}

.hamburger { position: absolute; top: 10px; left: 50%; transform: translate(-50%,0); width: 50px; height: 50px; cursor: pointer; transition: .5s;}
.hamburger.active .hamlines { background-color: rgba(0,0,0,.0); }
.hamburger.active .hamlines::after { transform: rotate(-45deg); top: 0; left: 0; }
.hamburger.active .hamlines::before { transform: rotate(45deg); top: 0; left: 0; }

.hamlines { position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 4px; width: 40px; background-color: white; transition: .5s;}
.hamlines::before, .hamlines::after { content: ''; position: absolute; left: 50%; transform: translate(-50%,-50%); height: 4px; width: 40px; background-color: white; transition: .5s;}
.hamlines::before { top: 20px;}
.hamlines::after { top: -15px;}

.header { margin: 0; width: 100%; height: 80px; background: rgba(0,0,0,.8); color:white; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; display: grid; place-items: center; transition: .5s; box-shadow: 0 0 20px rgba(0,0,0,.8);}
.header.active { height: 320px; }
.header.active ul { display: block; top:10px; transition: .6s; }
.header ul { margin-top: 50px; position: relative; top: -100%; }
.header ul li { list-style: none; cursor: pointer; font-family: 'Roboto', sans-serif;}
.header ul li .navlinks { display: block; padding: 10px; margin: 0 5px; text-transform: uppercase; text-decoration: none; color: #fff;}
.header ul li .navlinks:nth-child(5) { display: block; background: white; color: black; }
.header ul li .navlinks:nth-child(5):hover { background: #646464; color: white;}
.header ul li .navlinks:hover { background: white; color: black; }

@media (min-width: 900px) {
    .header ul li { display: flex; }
    .header { height: 80px; }
    .header.active { height: 150px; }
}